<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			 
			<div class="contenedor-login">
				<form action="/" method="get" class="formulario-login">
				  <label for="username">Usuario:</label>
				  <input type="text" id="username" name="username">
			  
				  <label for="password">Contraseña:</label>
				  <input type="password" id="password" name="password">
			  
				  <label class="checkbox-label">
					<input type="checkbox" name="remember"> Recordarme
				  </label>
			  
				  <button type="submit">Iniciar Sesión</button>
				</form>
			  </div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>