<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="./css/styles.css">
	
</head>

<!-- Include Head -->
<%- include('partials/head') %>
<body>

	<%- include('partials/header') %>
	


  <div class="titulo-producto">
    <h2>Nombre del producto</h2>
    <p class="editar">Editar</p>
  </div>


  <div class="contenedor">
    <div class="producto">
      <div class="info-producto">
        <div class="imagen-producto">
          <img src="" alt="Imagen del producto">
        </div>

        <p class="descripcion">
          Descripción cortca del producto. En la página principal solo se ven 2 líneas de esta descripción.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="comentarios">
      <div class="comentario">
        <p><a>Nombre usuario:</a> Comentario</p>
      </div>
      <div class="comentario">
        <p><a>Nombre usuario:</a> Comentario</p>
      </div>
      <div class="comentario">
        <p><a>Nombre usuario:</a> Comentario</p>
      </div>
      <div class="comentario">
        <p><a>Nombre usuario:</a> Comentario</p>
      </div>

      <div class="formulario-comentarios">
        <input type="text" placeholder="Agregar comentario">
        <button>AGREGAR COMENTARIO</button>
      </div>
    </div>
  </div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>