<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
	<%- include('partials/headerLogueado') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

			<div class="contenedor-login">
				<form action="/producto/productadd" method="POST" class="formulario-login">
					<label for="imagen">Imagen:</label>
					<input type="text" id="imagen" name="imagen" required>

					<label for="nombre_producto">Nombre del Producto:</label>
					<input type="text" id="nombre_producto" name="nombre_producto" required>

					<label for="descripcion">Descripción del producto:</label>
					<input type="text" id="descripcion" name="descripcion" required>

					<button type="submit">Publicar</button>
				</form>
			</div>
		</div>
	</div>

	<%- include('partials/footer') %>
</body>
</html>
