<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<div class="contenedor-login">
				<form action="/" method="get" class="formulario-login">
				  <label for="imagen">Imagen del producto:</label>
				  <input type="file" id="imagen" name="imagen">
			  
				  <label for="nombreproducto">Nombre del Producto:</label>
				  <input type="text" id="nombreproducto" name="nombreproducto">

				  <label for="descripcion">Descripcion del producto:</label>
				  <input type="text" id="descripcion" name="descripcion">
			  
				
			  
				  <button type="submit">Publicar</button>
				</form>
			  </div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>