<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('partials/head') %>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Registrarse</h2>
        </div>

        <div class="contenedor-login">
          <form action="/registro" method="post" class="formulario-login">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="username">Usuario:</label>
            <input type="text" id="username" name="usuario" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="contrasena" required>

            <label for="birthdate">Fecha de nacimiento:</label>
            <input type="date" id="birthdate" name="nacimiento" required>

            <label for="document">Numero de Documento:</label>
            <input type="number" id="document" name="dni" required>

            <label for="profilePic">Foto de perfil (URL):</label>
            <input type="text" id="profilePic" name="foto_perfil" required>

            <button type="submit">Registrate</button>
          </form>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
  </body>
</html>
