<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
          <div>
            <form action="./registro.html" method="get">
              <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
              </div>
      
              <div>
                <label for="username">Usuario:</label>
                <input type="text" name="username">
              </div>
      
              <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password">
              </div>
      
              <div>
                <label for="fecha">Fecha de nacimiento:</label>
                <input type="text" name="fecha">
              </div>
      
              <div>
                <label for="documento">Nro de documento:</label>
                <input type="text" name="documento">
              </div>
      
              <div>
                <label for="foto">Foto de perfil:</label>
                <input type="text" name="foto">
              </div>
      
              <div>
                <input type="checkbox" id="terms">
                <label for="terms">Acepto los terminos y condiciones</label>
              </div>
      
              <button type="submit">Registrarse</button>
            </form>
          </div>
        </section>
      </main>
      
</body>
</html>